{
  "env": {
    "es6": true,
    "jest": true,
    "jsx": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "script"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": "off"
  }
}
